import socket

HOST = '127.0.0.1'
PORT = 5000

server = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
server.bind((HOST, PORT))
server.listen(1)

print("Server is listening...")

conn, addr = server.accept()
print("Connected by", addr)

while True:
    data = conn.recv(1024).decode()

    if not data:
        break

    message = data.strip()

    if message.lower() == "quit":
        conn.sendall("bye\n".encode())
        break

    reversed_msg = message[::-1]
    reply = f"echo:{message} | rev:{reversed_msg}\n"

    print(f"Received={message} | Replied={reply.strip()}")

    conn.sendall(reply.encode())

conn.close()
server.close()